@model TrainerSquad.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personal.Name)
        </dd>
    </dl>

    <h6 style="font-weight: bold;">Pagamentos:</h6>
<table>
    <thead>
        <tr>
            <th style="width: 100px; margin: 10px; text-align: center;">Status</th>
            <th style="width: 100px; margin: 10px; text-align: center;">Preço</th>
            <th style="width: 200px; margin: 10px; text-align: center;">Data de Pagamento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model.Payments)
        {
            <tr>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => payment.Status)
                </td>
                <td style="text-align: center;">
                    R$ @Html.DisplayFor(modelItem => payment.Price)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => payment.PayDate)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h6 style="font-weight: bold;">Avaliações Físicas:</h6>
<table>
    <thead>
        <tr>
            <th style="width: 100px; margin: 10px; text-align: center;">Peso</th>
            <th style="width: 100px; margin: 10px; text-align: center;">Altura</th>
            <th style="width: 100px; margin: 10px; text-align: center;">IMC</th>
            <th style="width: 150px; margin: 10px; text-align: center;">Data da Avaliação</th>
            <th style="width: 100px; margin: 10px; text-align: center;">Cliente</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var physical in Model.PhysicalAssessments)
        {
            <tr>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => physical.Weight) Kg
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => physical.Height) cm
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => physical.Imc)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => physical.PhysicalDate)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => physical.Client.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h6 style="font-weight: bold;">Treinos:</h6>
<table>
    <thead>
        <tr>
            <th style="width: 100px; margin: 10px; text-align: center;">Exercício</th>
            <th style="width: 80px; margin: 10px; text-align: center;">Carga</th>
            <th style="width: 80px; margin: 10px; text-align: center;">Série</th>
            <th style="width: 120px; margin: 10px; text-align: center;">Repetição</th>
            <th style="width: 150px; margin: 10px; text-align: center;">Observação</th>
            <th style="width: 100px; margin: 10px; text-align: center;">Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var training in Model.Trainings)
        {
            <tr>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => training.Exercise)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => training.Load) Kg
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => training.Serie)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => training.Repetition)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => training.Note)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => training.Type)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
