@model TrainerSquad.Models.ViewModels.PersonalFormViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Personal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personal.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personal.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personal.Email)
        </dd>
    </dl>

    <h6 style="font-weight: bold;">Equipamentos:</h6>
    <table>
        <thead>
            <tr>
                <th style="width: 150px; margin: 10px; text-align: center;">Nome</th>
                <th style="width: 150px; margin: 10px; text-align: center;">Status</th>
                <th style="width: 200px; margin: 10px; text-align: center;">Última Manutenção</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var equip in Model.Equipments)
            {
                <tr>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => equip.EquipmentName)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => equip.Status)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => equip.LastMaintenance)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />

    <h6 style="font-weight: bold;">Clientes:</h6>
    <table>
        <thead>
            <tr>
                <th style="width: 150px; margin: 10px; text-align: center;">Nome</th>
                <th style="width: 100px; margin: 10px; text-align: center;">Plano</th>
                <th style="width: 100px; margin: 10px; text-align: center;">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.Clients)
            {
                <tr>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => client.Name)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => client.Plan)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => client.Status)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Personal.Id">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
